.table-view {
border: 2px solid black;
border-radius: 10px;
padding: 10px;
background: #ccccff;
}


.header {
    background: #ccccff;
    color: black;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    font-family:"Segoe UI",Arial,sans-serif;
}
